# 1. Import all required Modules and custom build Classes into the Jupyter notebook
Import all required modules for the project.<br />
Import all custom modules for the project and instantiate classes using the config file.<br />
Custom modules can now be called directly in the notebook.

In [1]:
import sys
from sys import getsizeof as dictsize
import os
import json
import time
import pymongo
import urllib
import pandas as pd
import numpy as np
import urllib
import urllib.request

try:
    import createNewData.data.config as in_config
    from createNewData.pypackages.Azure import Azure
    from createNewData.pypackages.urlHandler import UrlHandler
    AzurePackage = Azure(in_config)
    Url = UrlHandler(in_config)
    
    
except ImportError as e:
    print(in_config.FailedImport)
    print(e)

# 2. Upload to SQL Database
Upload an entire table from a txt or csv file to the Azure SQL Database.
Required fields:
* "UploadToSQL" is the class name for uploading tables to the database.
* "df" is the dataframe to be written to the database.
* tablename is the name of the new table to be created.

In [ ]:
df = pd.read_csv(in_config.shapes)

SqlDataCursor = AzurePackage("UploadToSQL",
                              df,
                              "shapes")

# 3. Return All Unique Shape Id's From SQL Database
1. Collect all items in the '' schema of shared team Database
2. Reduce Dataframe by removing dupicate coordinates.
3. Pop() coordinates based on batch sizes no greater than 1024 bytes.
4. Add each batch list to a list of batches to send the the Open-elevations API

### Attributes
* Azure class imported with call functionality (in)
* Config File (in)
* listOfBatches (out)

In [2]:
listOfBatches = []
batches = {"locations" : []}

try:
    df = AzurePackage("SelectAllData", "[stops]")
    coordinateDF = df[["stop_id", "stop_lat","stop_lon"]]
    request = coordinateDF.drop_duplicates(subset=None, 
                                        keep='first', 
                                        inplace=False)
    coordinatesReq = Url("generateLocationRequest", request)
    for key, value in coordinatesReq.items():
        if key == "locations":
            locations = value
    while len(locations) != 0:
        for each in locations:
            if dictsize(batches["locations"]) +\
                                dictsize(each) +\
                                dictsize(batches) < 1024:
                location = locations.pop(0)
                batches["locations"].append(location)
            else:
                listOfBatches.append(batches)
                batches = {"locations" : []}
        for each in listOfBatches:
            if dictsize(each) > 1024:
                raise Exception(in_config.RequestToBig)
            else:
                pass
    else:
        print("All values added to the list of requests.")
except pd.io.sql.DatabaseError as e:
    print(in_config.NoSQLShema)

except urllib.request.HTTPError as e:
    if e.code == "403":
        print(in_config.SQLConnectionFail)
    
except Exception as e:
    print(in_config.UNKMGO)
    print(e)

An unexpected exception occured while attempting to complete this function.
('08001', '[08001] [Microsoft][ODBC Driver 13 for SQL Server]Named Pipes Provider: Could not open a connection to SQL Server [53].  (53) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 13 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 13 for SQL Server]Invalid connection string attribute (0); [08001] [Microsoft][ODBC Driver 13 for SQL Server]A network-related or instance-specific error has occurred while establishing a connection to SQL Server. Server is not found or not accessible. Check if instance name is correct and if SQL Server is configured to allow remote connections. For more information see SQL Server Books Online. (53)')

In [3]:
a = []
for each in listOfBatches:
    for x in each["locations"]:
        a.append(x)
len(a)
y = pd.DataFrame(a)
y.drop_duplicates()

       latitude  longitude
0     53.352244  -6.263723
1     53.352309  -6.263811
2     53.352575  -6.264175
3     53.352749  -6.264454
4     53.352841  -6.264570
...         ...        ...
4184  53.129859  -6.527305
4185  53.129802  -6.527067
4186  53.121040  -6.535928
4187  53.121094  -6.535941
4188  53.116587  -6.538485

[4189 rows x 2 columns]

In [18]:
listOfObjects = []
listOfElevations = []
ListOfDicts = []


try:
    for each in listOfBatches:
        attempts = 0
        while attempts <5:
            try:
                ListOfDicts.append(Url("mineElevationData",listOfBatches[0]))
            except urllib.error.HTTPError:
                attempts = attempts+1
            listOfBatches.pop(0)
            Iteration = Iteration + 1
            print(Iteration)
            time.sleep(25)
    for each in ListOfDicts:
        for key, value in each.items():
            if type(value) is list:
                listOfObjects.append(value)

    for each in listOfObjects:
        for elevation in each:
            listOfElevations.append(elevation)
        

    df = pd.DataFrame(listOfElevations)
    dfTrimmed = df.drop_duplicates()
    sumElevation = dfTrimmed["elevation"].sum()
    if type(sumElevation) in [np.int64,int]:
        print("Elevations collected correctly")
        print(dfTrimmed.head())
    else: 
        raise Exception("Failed to collect all elevations, please try again.")
except KeyError as e:
    print(f"Column {e} cannot be found in the dataframe.")
except NameError as e:
    print(f"The Datatable {e} cannot be found.")
except Exception as e:
    print(in_config.UNKMGO)
    print(type(e))
    print(e)


#     SqlDataCursor = AzurePackage("UploadToSQL",
#                               df,
#                               "elevations",
#                               in_config.connQuote)

Error: Pip module Unable to parse debugpy output, please log an issue with https://github.com/microsoft/vscode-jupyter is required for debugging cells. You will need to install it to debug cells.

In [44]:
dfTrimmed.head()

NameError: name 'dfTrimmed' is not defined

In [ ]:
for each in shapeData:
    for key, value in each.items():
        if type(value) is list:
            listOfObjects.append(value)

    for each in listOfObjects:
        for elevation in each:
            listOfElevations.append(elevation)

    df = pd.DataFrame(listOfElevations)
    dfTrimmed = df.drop_duplicates()
    sumElevation = dfTrimmed["elevation"].sum()
    if type(sumElevation) in [np.int64,int]:
        print("Elevations collected correctly")
        print(dfTrimmed.head())
    else: 
        raise Exception("Failed to collect all elevations, please try again.")
# except KeyError as e:
#     print(f"Column {e} cannot be found in the dataframe.")
# except NameError as e:
#     print(f"The Datatable {e} cannot be found.")
# except Exception as e:
#     print(in_config.UNKMGO)
#     print(e)

# Collect Elevation Data and Upload to MongoDB
Collect the longtitude and lattitude for elevation data from the shapes table.
Store data to the mongoDB database in Azure Cosmos.

In [ ]:
shapeList = []
AzurePackage("DropMongoColl","shapes")
for each in shapeIds.iterrows():
    try:
        # Generate the Pandas table of all the Longtitudes and Latitudes
        # for each shape
        elevations = AzurePackage("SelectLongLat",
                                "[shape_id],[shape_pt_lat],[shape_pt_lon]",
                                "[dbo].[shapes]",
                                "[shape_id]",
                                each[1][0])

        # Generate the Json document for upload to MongoDB
        shapeData = Url("mineElevationData",elevations)
    except urllib.error.HTTPError as e:
        print(in_config.URLOOD)
        print(e)

    try:
        # Upload the Json document to MongoDB
        if not len(shapeData) == 0:
            AzurePackage("UploadToMongo","shapes",shapeData)
        else:
            raise Exception(in_config.NDIDF)
    except TypeError as e:
        print(in_config.TEC)
    except pymongo.errors.DuplicateKeyError as e:
        print(in_config.FIDB)
    except Exception as e:
        print(in_config.UNKMGO)
        print(e)

# Read Data From MongoDB and Write to Pandas DataFrame
This reads data from the raw Json files in the MongoDB database and imports them to a dataframe that contains only unique values. 
Removing any rows where any full row duplicates exist.<br />
Finally, this tests that all the elevation data was collected correctly by summing the values of the elevations and therefore ruling out any NaN values. An exception will be raised here in the final script to indicate that the elevation collection was unsuccessfull.

In [ ]:
listOfObjects = []
listOfElevations = []


try:
    dbcollections = AzurePackage("SelectFromMongo")
    for each in dbcollections.find():
        for key, value in each.items():
            if type(value) is list:
                listOfObjects.append(value)
        

    for each in listOfObjects:
        for elevation in each:
            listOfElevations.append(elevation)

    df = pd.DataFrame(listOfElevations)
    dfTrimmed = df.drop_duplicates()
    sumElevation = dfTrimmed["elevation"].sum()
    if type(sumElevation) in [np.int64,int]:
        print("Elevations collected correctly")
        print(dfTrimmed.head())
    else: 
        raise Exception("Failed to collect all elevations, please try again.")
except KeyError as e:
    print(f"Column {e} cannot be found in the dataframe.")
except NameError as e:
    print(f"The Datatable {e} cannot be found.")
except Exception as e:
    print(in_config.UNKMGO)
    print(e)

# Upload Trimmed Elevations DataFrame to SQL

This saves the resulting SQL schemata to the development database.
This will overwrite any existing data in the SQL schemata that already exists.

In [ ]:
SqlDataCursor = AzurePackage("UploadToSQL",
                              dfTrimmed,
                              "elevations",
                              in_config.connQuote)

# Collect real time data and upload to Mongo
This collects the real time data as a json file and overwrites the collection in the mongoDB database.
* URL used https://gtfsr.transportforireland.ie

In [ ]:
url = in_config.url2
headers = in_config.RTIheaders
response = Url("callURL", url, {}, headers)
JsonData = response.read().decode('utf8').replace("'", '"')
RTIgtfs = json.loads(JsonData)
try:
    AzurePackage("DropMongoColl","RTIgtfs")
    AzurePackage("UploadToMongo","RTIgtfs",RTIgtfs)
except pymongo.errors.WriteError as e:
    print("An error occured while attempting to write the GTFS data to Mongo Database.")
    print(type(e))
except HTTPError as e:
    print("An error occured while attempting to connect to the Mongo Database.")
    print(type(e))

# Save Trimmed Elevation Data Team SQL Database
This reads data from the raw Json files in the MongoDB database and imports them to a dataframe that contains only unique values. Removing any rows where any full row duplicates exist.
This saves the resulting SQL schemata to the Database used by the R-Shiny app. (Production)
This will overwrite any existing data in the SQL schemata that already exists.

In [ ]:
SqlDataCursor = AzurePackage("UploadToSQL",
                              dfTrimmed,
                              "elevations",
                              in_config.teamConnQuote)

# Connect the shape and elevation schema together by joining their longtitude and latatude values
This will either be a method in the Rshiny app to collect or we simply create a new database from this data but this seems a bit verbose.

In [ ]:
conn = AzurePackage("AzureDBConn", in_config.connQuote)
SQLString = in_config.SQLElevation
df = pd.read_sql(SQLString, conn)
conn.close()

In [ ]:
conn = AzurePackage("AzureDBConn", in_config.teamConnQuote)
SQLString = """Select * FROM [distances]"""
df = pd.read_sql(SQLString, conn)
print(df.head())
conn.close()

In [47]:
conn = AzurePackage("AzureDBConn", in_config.teamConnQuote)
SQLString = """Select TOP 1000 distances.route_id,distances.service_id,distances.quasi_block,distances.stop, 
               stops.stop_lat,stops.stop_lon,
               elevations.elevation
               FROM distances
               LEFT JOIN stops ON distances.stop = stops.stop_id
               LEFT JOIN elevations ON stops.stop_lat = elevations.latitude AND stops.stop_lon = elevations.longitude
               """
df = pd.read_sql(SQLString, conn)
print(df)
conn.close()

        route_id service_id  quasi_block          stop   stop_lat  stop_lon  \
0    60-16-d12-1      y1004          1.0  8230DB001325  53.286533 -6.282408
1    60-16-d12-1      y1004          1.0  8230DB001326  53.288805 -6.282902
2    60-16-d12-1      y1004          1.0  8230DB001327  53.291191 -6.282536
3    60-16-d12-1      y1004          1.0  8230DB001328  53.292204 -6.282360
4    60-16-d12-1      y1004          1.0  8230DB001329  53.294967 -6.281994
..           ...        ...          ...           ...        ...       ...
995  60-16-d12-1      y1004          2.0  8230DB002991  53.283317 -6.279387
996  60-16-d12-1      y1004          2.0  8230DB002992  53.284628 -6.281194
997  60-16-d12-1      y1004          2.0  8230DB001325  53.286533 -6.282408
998  60-16-d12-1      y1004          2.0  8230DB001326  53.288805 -6.282902
999  60-16-d12-1      y1004          2.0  8230DB001327  53.291191 -6.282536

    elevation
0        None
1        None
2        None
3        None
4        None
..        ...
995      None
996      None
997      None
998      None
999      None

[1000 rows x 7 columns]

In [ ]:
df[df.isna().any(axis=1)]

In [ ]:
conn = AzurePackage("AzureDBConn", in_config.teamConnQuote)
SQLString = """Select stops.stop_lat,stops.stop_lon,
               elevations.elevation
               FROM stops
               LEFT JOIN elevations ON stops.stop_lat = elevations.latitude AND stops.stop_lon = elevations.longitude
               """
df = pd.read_sql(SQLString, conn)
print(df)
conn.close()

In [ ]:
df[df.isna().any(axis=1)]

In [4]:
{"locations": [{"longtitude" : 123, "lattitude" : 45}, {"..."}]}

{'locations': [{'longtitude': 123, 'lattitude': 45}, {'...'}]}

In [ ]:
from kafka import KafkaProducer
from kafka.errors import KafkaError
from datetime import datetime
import psutil
import time
import json

kafka_broker='dap:9092' 

producer = KafkaProducer(
    bootstrap_servers = [kafka_broker],
api_version=(0,11,5),
    value_serializer = lambda m: json.dumps(m).encode()
)


while True :
    cpu_times = psutil.cpu_times()._asdict()
    cpu_times['datetime'] = datetime.now().strftime("%d/%m/%Y, %H:%M:%S")
    future = producer.send('cpu',cpu_times)
    time.sleep(0.1)

In [ ]:
from kafka import KafkaConsumer
import json

kafka_broker='dap:9092' 

consumer = KafkaConsumer('cpu',
                         bootstrap_servers = [kafka_broker],
                         auto_offset_reset = 'earliest',
                         group_id = None,
                         consumer_timeout_ms = 10000)
for message in consumer:
    print(message.value.decode())